<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <title>Dodawanie nowego państwa</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" th:href="@{/css/signin.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h1 class="h1" th:text="'Dodawanie nowego państwa'"></h1>
<form th:action="@{/admin/addcountry}" th:object="${countryFormData}" method="post" class="form-signin">

    <label for="name">Nazwa:</label>
    <input id="name" type="text" th:field="*{name}" autofocus class="form-control"/>
    <div class="error" th:errors="*{name}"></div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Zapisz</button>
</form>
</body>
</html>